<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @tweet.content %>
</p>

<p>
  <strong>Lattitude:</strong>
  <%= @tweet.lattitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @tweet.longitude %>
</p>

<p>
  <strong>Polarity:</strong>
  <%= @tweet.polarity %>
</p>

<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>
